<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ceghospital"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA2RgtZ66TW6EA-ymBubaHIP4SKktd5m4s" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="CEGHospital"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name="com.example.ceghospital.EditDeletePatients"></activity>
        <activity android:name="com.example.ceghospital.ConsulterListPatients" />
        <activity android:name="com.example.ceghospital.AddPatient" />
        <activity android:name="com.example.ceghospital.NewUser" />
        <activity android:name="com.example.ceghospital.AddRDV" />
        <activity android:name="com.example.ceghospital.Growth" />
        <activity android:name="com.example.ceghospital.ConsulterListRDV" />

        <activity android:name="com.example.ceghospital.AddDoctor"/>
        <activity android:name="com.example.ceghospital.NotificationView"
            android:label="Notification"
            android:parentActivityName="com.example.ceghospital.MainActivity"/>
        <activity
            android:name="com.example.ceghospital.PatientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ceghospital.DoctorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.ceghospital.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.ceghospital.MyBroadcastReceiver" >
        </receiver>
    </application>

</manifest>